body, html {
    background-position-y: 0%; 
    background-color: rgb(0, 0, 0);
    
    
    
}
.title1 {  
    position: absolute;
    text-align: center;
    left:50%;
    top: 10%;
    font-size: 60px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    background-color: black;
    font-family: arial;




} 
.button1{
    color: white;
    background-color: black;
    
}
.test1{
    position: absolute;
    text-align: center;
    left:50%;
    top: 550px;
    color: rgb(184, 184, 184);
    transform: translate(-50%, -50%);

    font-size: 20px;
    z-index: 1;
}
.header1{
    position: absolute;
    text-align: center;
    left:50%;
    top: 500px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
   
    font-size: 30px;
    background-color: gray;
    z-index: 1;
}
.rect1{
    position: absolute;
    top: 550px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.rect12{
    position: absolute;
    top: 750px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.test12{
    position: absolute;
    text-align: center;
    left:50%;
    top: 760px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);

    font-size: 15px;
    z-index: 1;
}
.header2{
    position: absolute;
    text-align: center;
    left:50%;
    top: 710px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    word-break: 350px;
    width: 350px;
    font-size: 23px;
    z-index: 1;
}
.header3{
    position: absolute;
    text-align: center;
    left:50%;
    top: 220px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);

    font-size: 25px;
    z-index: 1;
}
.rect122{
    position: absolute;
    top: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.test112{
    position: absolute;
    text-align: center;
    left:50%;
    top: 350px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    word-wrap: break-word;
    width: 350px;
    font-size: 13px;
    z-index: 1;
}
.ifraame{
    position: relative;
    top: 1000px;
    left: 50%;

}